<launch>
  <include file="$(find perception)/launch/PerceptionParam.launch" />
  <include file="$(find driving_common)/launch/common.launch" />
  <include file="$(find paw2)/launch/Paw2Param.launch" />
  <node name="paw2" pkg="paw2" type="paw2" output="screen" args="nowaitforcar" launch-prefix="xterm -e gdb --args">
  <!--node name="paw2" pkg="paw2" type="paw2" output="screen" args="nowaitforcar" launch-prefix="valgrind - -leak-check=yes"-->
  </node>
</launch>
